{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'add_merch.js') }}"></script>

<html>
    <head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>

  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <div id="tenthead"><h1>Add Merch Tent Entry</h1></div>
    <form method = "POST" action = "/add_tent">
    <div class = 'row'>
        <div class = 'col-md-4' id = "tent_id">
        </div>
        <div class = 'col-md-4' id = "stage_id">
        </div>
        <div class = 'col-md-4' id = "num_workers">
        </div>
        <div id='tentbutton'></div>
    </div>
    </form>
    <div  id = "addbuttontent"><button id="addtent">Add Tent Entry</button></div>
    <div id ="itemhead"><h1>Add Merch Item Entry</h1></div>
    <form method = "POST" action = "/add_item"></form>
    <div class = 'row'>
        <div class = 'col-md-2' id = "item_id">
        </div>
        <div class = 'col-md-2' id = "item_tent_id">
        </div>
        <div class = 'col-md-2' id = "item_name">
        </div>
        <div class = 'col-md-2' id = "item_type">
        </div>
        <div class = 'col-md-2' id = "num_remaining">
        </div>
        <div class = 'col-md-2' id = "price">
        </div>
        <div id = "itembutton"></div>
    </div>
    </form>
    <div id = "addbuttonitem"><button id="additem">Add Item Entry</button></div>
    
</body>

</html>
{% endblock %}