{% extends "layout.html" %}

{% block content %}

<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <div>
        {% for area in area_name %}
        <h1>Area Name: {{area.area_name}}</h1>
        {% for stage in stage_name %}
        {% if stage.area_id == area.area_id %}
        <p>Closest Stage: {{stage.stage_name}}</p>
        {% endif %}
        {% endfor %}
        <b>List of stands in {{area.area_name}}</b>
        {% for stand in stand_name %}
        {% if stand.area_id == area.area_id %}
        <div><a href="stand/">{{stand.stand_name}}</a></div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</body>


</html>

{% endblock %}