{% extends "layout.html" %}

{% block content %}

<html>
  <style>
      
    body{ 
      font-size: 15pt;
      font-family: arial;
      background-image: linear-gradient(rgb(255, 122, 89), rgb(0, 189, 182));
      min-height: 850px;
    }
    .merchspacing {
        margin-bottom: 40px;
    }

  </style>


<body>
    <div class='container'>
    <div class = 'merchspacing'></div>
    {% for tent in tent_info %}
    
    <h1 id = "merchtent{{tent.tent_id}}">MERCH TENT {{tent.tent_id}}</h1>
    <p>Closest to: <a href="/stages/#{{tent.stage_name}}">{{tent.stage_name}}</a></p>
    <p>Number of Workers: {{tent.number_of_workers}}</p>
        <div class='row'>
            <div class='col-md-3'><b>Item Name</b></div>
            <div class='col-md-3'><b>Item Type</b></div>
            <div class='col-md-3'><b>Number Remaining</b></div>
            <div class='col-md-3'><b>Price</b></div>
        </div>
        {% for item in item_info %}
        {% if item.tent_id == tent.tent_id %}
        <div class="row">
            <div class="col-md-3">
                {{item.item_name}}
            </div>
            <div class="col-md-3">
                <a href ="/{{item.item_type}}/">{{item.item_type}}</a>
            </div>
            <div class="col-md-3">
                {{item.number_remaining}}
            </div>
            <div class="col-md-3">
                {{item.price}}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class = 'merchspacing'></div>
        {% endfor %}   
    </div>
</body>


</html>

{% endblock %}