{% extends "layout.html" %}

{% block content %}
<html>
<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>

<style>
    .stage{
        font-size: x-large;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .day{
        font-weight: bold;
    }
    body{ 
      background-image: linear-gradient(rgb(255, 122, 89), rgb(0, 189, 182));
      min-height: 850px;
    }
    a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    }
    .space {
        margin-bottom: 10px;
    }
    .hyper {
        color: black;
        font-size: 18px;
        font-style: italic;
    }
    .merchandareas {
        padding-left: 10px;
    }
    .hyperlow {
        color: black;
        font-size: 16px;
        font-weight: normal;
    }
</style>

<body>
<h1>Stage Calendars</h1>
<div class="container">
    {% for s in stages %}
        <div class="stage" id="{{s.stage_name}}">
        {{ s.stage_name }}
        </div>
        <div class = 'space'>
            <a class="hyper" href="/merch/">Closest Merch Tents:</a>
            {% for tent in merch %}
            {% if tent.stage_id == s.stage_id %}
            <div class="merchandareas"><a class = "hyperlow" href="/merch/#merchtent{{tent.tent_id}}">Merch Tent {{tent.tent_id}}</a></div>
            {% endif %}
            {% endfor %}
        </div>
        <div class = 'space'>
            <a class="hyper" href="/food/">Closest Concession Areas:</a>
            {% for area in con %}
            {% if area.stage_id == s.stage_id %}
            <div class="merchandareas"><a class = "hyperlow" href="/food/#area{{area.area_name}}">{{area.area_name}}</a></div>
            {% endif %}
            {% endfor %}
        </div>
            {% set id = s.stage_id-1 %}
            <div class="row day">
                Friday
            </div>
            <div class="row">
                <div class="col-md-4">
                    Artist Name
                </div>
                <div class="col-md-4">
                    Start Time
                </div>
                <div class="col-md-4">
                    End Time
                </div>
            </div>
            {% for a in friday[id] %}
                {% set aid = a.artist_id %}
                <div class="row">
                    <div class="col-md-4">
                        <a href=/artist/{{ a.artist_id }}>{{ a.artist_name }}</a>
                    </div>
                    <div class="col-md-4">
                        {{ a.set_start_time.strftime('%I:%M %p') }}
                    </div>
                    <div class="col-md-4">
                        {{ a.set_end_time.strftime('%I:%M %p') }}
                    </div>
                </div>
            {% endfor %}
            <div class="row day">
                Saturday
            </div>
            <div class="row">
                <div class="col-md-4">
                    Artist Name
                </div>
                <div class="col-md-4">
                    Start Time
                </div>
                <div class="col-md-4">
                    End Time
                </div>
            </div>
            {% for a in saturday[id] %}
                <div class="row">
                    <div class="col-md-4">
                        <a href=/artist/{{ a.artist_id }}>{{ a.artist_name }}</a>
                    </div>
                    <div class="col-md-4">
                        {{ a.set_start_time.strftime('%I:%M %p') }}
                    </div>
                    <div class="col-md-4">
                        {{ a.set_end_time.strftime('%I:%M %p') }}
                    </div>
                </div>
            {% endfor %}
            <div class="row day">
                Sunday
            </div>
            <div class="row">
                <div class="col-md-4">
                    Artist Name
                </div>
                <div class="col-md-4">
                    Start Time
                </div>
                <div class="col-md-4">
                    End Time
                </div>
            </div>
            {% for a in sunday[id] %}
                <div class="row">
                    <div class="col-md-4">
                        <a href=artist/{{ a.artist_id }}>{{ a.artist_name }}</a>
                    </div>
                    <div class="col-md-4">
                        {{ a.set_start_time.strftime('%I:%M %p')}}
                    </div>
                    <div class="col-md-4">
                        {{ a.set_end_time.strftime('%I:%M %p') }}
                    </div>
                </div>
            {% endfor %}
        <br>
    {% endfor %}

</div>

</body>


</html>

{% endblock %}