<html>
<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>


<body>
<h1>Tickets Sold</h1>

<div class="container">
    {% for n in stages %}
        <div class="row">
        {{ n }}
        </div>
    {% endfor %}
    {% for n in friday1 %}
        <div class="row">
            {{ n }}
        </div>
    {% endfor %}
</div>

</body>


</html>
