{% extends "layout.html" %}

{% block content %}
<html>
<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>

<style>
    .stage{
        font-size: x-large;
        font-weight: bold;
    }
    .day{
        font-weight: bold;
    }
</style>

<body>
<h1>Stage Calendars</h1>
<div class="container">
    {% for s in stages %}
        <div class="stage">
        {{ s.stage_name }}
        </div>
            {% set id = s.stage_id-1 %}
            <div class="row day">
                Friday
            </div>
            <div class="row">
                <div class="col-md-3">
                    Artist Name
                </div>
                <div class="col-md-3">
                    Start Time
                </div>
                <div class="col-md-3">
                    End Time
                </div>
                <div class="col-md-3">
                    Songs
                </div>
            </div>
            {% for a in friday[id] %}
                {% set aid = a.artist_id %}
                <div class="row">
                    <div class="col-md-3">
                        {{ a.artist_name }}
                    </div>
                    <div class="col-md-3">
                        {{ a.set_start_time.strftime('%H:%M') }}
                    </div>
                    <div class="col-md-3">
                        {{ a.set_end_time.strftime('%H:%M') }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            {% endfor %}
            <div class="row day">
                Saturday
            </div>
            <div class="row">
                <div class="col-md-3">
                    Artist Name
                </div>
                <div class="col-md-3">
                    Start Time
                </div>
                <div class="col-md-3">
                    End Time
                </div>
                <div class="col-md-3">
                    Songs
                </div>
            </div>
            {% for a in saturday[id] %}
                <div class="row">
                    <div class="col-md-3">
                        {{ a.artist_name }}
                    </div>
                    <div class="col-md-3">
                        {{ a.set_start_time.strftime('%H:%M') }}
                    </div>
                    <div class="col-md-3">
                        {{ a.set_end_time.strftime('%H:%M') }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            {% endfor %}
            <div class="row day">
                Sunday
            </div>
            <div class="row">
                <div class="col-md-3">
                    Artist Name
                </div>
                <div class="col-md-3">
                    Start Time
                </div>
                <div class="col-md-3">
                    End Time
                </div>
                <div class="col-md-3">
                    Songs
                </div>
            </div>
            {% for a in sunday[id] %}
                <div class="row">
                    <div class="col-md-3">
                        {{ a.artist_name }}
                    </div>
                    <div class="col-md-3">
                        {{ a.set_start_time.strftime('%H:%M') }}
                    </div>
                    <div class="col-md-3">
                        {{ a.set_end_time.strftime('%H:%M') }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            {% endfor %}
        <br>
    {% endfor %}

</div>

</body>


</html>

{% endblock %}
