<html>
<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>


<body>
<h1>Tickets Sold</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            Ticket Type:
        </div>
        <div class="col-md-4">
            Purchaser Name:
        </div>
        <div class="col-md-4">
            Purchaser Age:
        </div>
    </div>
        {% for n in data %}
            <div class="row">
                <div class="col-md-4">
                    {{n.ticket_type}}
                </div>
                <div class="col-md-4">
                    {{n.purchaser_name}}
                </div>
                <div class="col-md-4">
                    {{n.purchaser_age}}
                </div>
            </div>
        {% endfor %}
</div>

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/add">
    <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
